<h1>Your wish has been granted.</h1>

<p>The following users have added <i><%= @need.title %></i></p>

<ol>
  <% @matches.each do |match| %>
    <li>
      <div>
        <%= match.title %> - <%= match.user.fullname %> |
        <% if match.price == 0 %>
          Open for bids
          <div>
            <a href="http://boookhub.herokuapp.com/books/<%= match.id %>">Make an Offer</a>
          </div>
        <% else %>
          Price: $<%= match.price %>.00
          <div>
            <a href="http://boookhub.herokuapp.com/books/<%= match.id %>">Buy Now</a>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>

