<h1>Your wish has been granted.</h1>

<p>The following users have added <i><%= @need.title %></i></p>

<ol>
  <% @matches.each do |match| %>
    <li><%= match.title %> - <%= match.user.fullname %> |
      <% if match.price == 0 %>
        Make an offer
      <% else %>
        Price: $<%= match.price %>.00
      <% end %>
      <ul>
        <li>Link: http://boookhub.herokuapp.com/books/<%= match.id %></li>
      </ul>
    </li>
  <% end %>
</ol>

