<body class="dashboard-view">
  <div class="dashboard-pad">
    <div class="row">
      <div class="profile-tab col-md-4">
        <div class="row user-head">
          <div class="col-md-4 col-xs-5 center">
            <%= image_tag @user.avatar.url(:medium), class: "dash-pic" %>
          </div>
          <div class="col-md-8 col-xs-7 prof-info">
            <span class="dash-name"><%= @user.fullname %></span><br><p class='thin'><%= @user.address %><br><cite><%= link_to "Edit Profile", edit_user_registration_path %></cite></p>
          </div>
        </div>
        <div>
          <div class="row preview">
            <div class="col-xs-3 salmon center" type="button" data-toggle="tooltip" data-placement="bottom" title="Books added for sale">
              <%= @user.books.where(sold: "false").count %><br>Added
            </div>
            <div class="col-xs-3 seafoam center" type="button" data-toggle="tooltip" data-placement="bottom" title="Your pending bids">
              <%= @user.offers.where(accepted: "false").count %><br>Pending
            </div>
            <div class="col-xs-3 blue center" type="button" data-toggle="tooltip" data-placement="bottom" title="Books you've sold">
              <%= @user.books.where(sold: "true").count %><br>Sold
            </div>
            <div class="col-xs-3 purple center" type="button" data-toggle="tooltip" data-placement="bottom" title="Offers to accept">
              <%= @offer_count %><br>Offers
            </div>
          </div>
        </div>
        <div>
          <div class="recent-act center">
            <span class="dash-name">Recent Activity</span>
          </div>

          <% @recent_activities.each do |act| %>
            <div class="row">
              <div class="col-xs-2"><img src="<%= act.image_url %>" class="activity-img"></div>
              <div class="col-xs-8 user-info">
                <% if act.sold %>
                  <p><%= act.short_title(act.title) %><br><span class="user-name thin"><%= act.user.fullname %></span></p>
                <% else %>
                  <p><%=link_to act.short_title(act.title), book_path(act) %><br>
                    <span class="user-name thin"><%= act.user.fullname %></span></p>
                <% end %>
              </div>
              <div class="col-xs-2">
                <% if act.sold == false %>
                  <span class=" buy-badge pull-right" type="button" data-toggle="tooltip" data-placement="bottom" title="Available"></span>
                <% else %>
                  <span class=" sold-badge pull-right" type="button" data-toggle="tooltip" data-placement="bottom" title="Sold"></span>
                <% end %>
              </div>
            </div>
            <div class='line-break'></div>
          <% end %>

        </div>
      </div>

      <div class="col-md-8 no-col-pad no-rt-pad">
        <div class="wishlist-tab profile-tab">
        <div class="row">
          <div class="col-xs-1 hidden-xs">
            <%= image_tag('menu.png', class: "menu-img details") %>
          </div>
          <div class="col-xs-4 no-right-pad">
            <h2 class="thin">Wishlist</h2>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-5 pull-right explore">
            <button class="bh-btn details">Explore <span class="caret"></span></button>
          </div>
        </div>

        <div id="wishlist" hidden>
          <% if current_user.needs == [] %>
            <p class="foot-heading">No books in wishlist...</p>
          <% else %>
            <p class="foot-heading">Click for details...</p>
            <div class="row">
              <% current_user.needs.each do |need| %>
              <div class="wish-item col-sm-1 col-xs-2">
                <div data-toggle="modal" data-target="#showModal<%= need.id %>">
                  <a href="<%= need.amazon_url %>" target="_blank"><img src="<%= need.image_url %>" class="wish-book"></a>
                  <br>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
          <%= link_to "Add Book to Wishlist", new_need_path %>
        </div>
        </div>
      </div>

      <div class="col-md-8 no-col-pad no-rt-pad center">
        <div class=" main-tab ">
        <div class="tab-header xs-border salmon"><h3>Books Added</h3></div>
        <p class="data-stat"><%= "You have #{@user.books.where(sold: "false").count} book(s) in your library" %></p>
          <% @user.books.order(title: :asc).each do |book| %>
          <% if book.sold == false %>
          <div class="book-details"><%= book.title %><span class="caret"></span>
            <div hidden>
              <%= link_to 'Details', book_path(book) %> |
              <%= link_to "Edit", edit_book_path(book.id) %> | <%= link_to "Delete", book, method: :delete, data: {confirm: "Are you sure you want to delete this book from your library?"}, class: "red" %>
            </div>
          </div>
          <% end %>
          <% end %>
        <%= link_to "Add Book", new_book_path, class: "add-book-link" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 tab-padding center">
        <div class="mini-tab">
          <div class="tab-header xs-border seafoam"><h3>My Bids</h3></div>
          <p class="data-stat"><%= "You have #{@user.offers.where(accepted: "false").count} pending bid(s)" %></p>
          <% @user.offers.each do |offer| %>
            <div class="book-details">
              <% if offer.book.sold == true %>
                <span class="red"><%= offer.book.title %> | Sold <span class="caret"></span></span>
              <% else %>
                <%= offer.book.title %> <span class="caret"></span>
              <% end %>
              <div hidden>
                You offered: $<%= offer.amount %><br>
                Seller: <%= offer.book.user.fullname %><br>
                <% if offer.book.sold == true %>
                  <%= link_to "Delete", offer, method: :delete, class: "btn-sm btn-danger", data: {confirm: "Are you sure you want to remove this offer?"} %><br>
                <% else %>
                <%= link_to "Revoke", offer, method: :delete, class: "btn-sm btn-danger", data: {confirm: "Are you sure you want to remove this offer?"} %><br>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-sm-4 tab-pad-left center">
        <div class="mini-tab">
          <div class="tab-header xs-border blue"><h3>Books Sold</h3></div>
          <p class="data-stat"><%= "You have sold #{@user.books.where(sold: "true").count} book(s)" %></p>
            <% @user.books.each do |book| %>
              <% if book.sold == true %>
                <div class="details">
                  <div class="btn btn-sm btn-default book-details">
                    <%= book.title %> <span class="caret"></span>
                    <div id='buyer-info' hidden>
                      <%= book.buyer.fullname %><br> <%= book.buyer.email %><br> <%= book.buyer.phone %> | Offer: $<%= book.price %>.00
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>

      <div class="col-sm-4 tab-padding center">
        <div class="mini-tab">
          <div class="tab-header xs-border purple"><h3>My Offers</h3></div>
          <p class="data-stat"><%= "You have #{@offer_count} offer(s) from other peers" %></p>
          <ul>
            <% @user.books.each do |book| %>
              <% book.offers.order(created_at: :desc).each do |offer| %>
                <% if book.sold == false %>
                  <li>
                    <%= book.title %> <%= link_to "Accept",{controller: :offers, action: :accept, id: offer.id} , class: "btn btn-sm btn-success" %><br>
                    Offer: $<%= offer.amount %><br>
                    Bidder: <%= offer.user.fullname %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <% current_user.needs.each do |need| %>
  <div class="modal fade" id="showModal<%= need.id %>" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= need.title %></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class='col-md-4 center'>
              <img src="<%= need.image_url %>" class="modal-book">
            </div>
            <div class='col-md-8'>
              <div><h1 class="modal-book-title thin"><%= need.title %><h1></div>
              <div><h3 class="modal-author thin"><%= need.author %></div></h3><br>
              <a href="<%= need.amazon_url %>" target='_blank'>Buy on Amazon</a>
              <div><%= link_to "Delete", need, method: :delete, data: {confirm: "Are you sure you want to delete this book from your wishlist?"}, class: "red"%>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.details').click(function(){
        $('#wishlist').toggle("medium");
      });

      $('.book-details').click(function(){
        $(this).children('div').toggle('medium');
      })

      $(function () { $("[data-toggle='tooltip']").tooltip(); });
    });
  </script>

</body>
