<h1>Dashboard</h1>

<%= image_tag @user.avatar.url(:medium) %>
<h2><%= @user.fullname %></h2><cite><%= link_to "Edit Profile", edit_user_registration_path %></cite><br>
<div>
  <button class="btn btn-sm btn-primary" id="details">Wishlist</button>
</div>
<div id="wishlist" hidden>
  <% if current_user.needs == [] %>
    <p>No books in wishlist... Add the first now!</p>
  <% else %>
    <ul>
      <% current_user.needs.each do |need| %>
        <li><%= need.title %> - <%= need.author %> | <%= link_to "Delete", need, method: :delete, data: {confirm: "Are you sure you want to delete this book from your wishlist?"} %></li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "Add Book to Wishlist", new_need_path %>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Books Added</h3>
    <p><%= "You have #{@user.books.where(sold: "false").count} book(s) for sale" %></p>
    <ul>
      <% @user.books.order(title: :asc).each do |book| %>
      <% if book.sold == false %>
      <li><%= link_to book.title, book_path(book) %>
        - <%= link_to "Edit", edit_book_path(book.id) %> | <%= link_to "Delete", book, method: :delete, data: {confirm: "Are you sure you want to delete this book from your library?"} %></li>
      <% end %>
      <% end %>
    </ul>
    <%= link_to "Add Book", new_book_path %>
  </div>

  <div class="col-md-6">
    <h3>My Offers</h3>
    <p><%= "You have #{@offer_count} offer(s) from other peers" %></p>
    <ul>
      <% @user.books.each do |book| %>
        <% book.offers.order(created_at: :desc).each do |offer| %>
          <% if book.sold == false %>
            <li>
              <%= book.title %> <%= link_to "Accept",{controller: :offers, action: :accept, id: offer.id} , class: "btn btn-sm btn-success" %><br>
              Offer: $<%= offer.amount %><br>
              Bidder: <%= offer.user.fullname %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Books Sold</h3>
    <p><%= "You have sold #{@user.books.where(sold: "true").count} book(s)" %></p>
      <% @user.books.each do |book| %>
        <% if book.sold == true %>
          <div class="details">
            <div class="btn btn-sm btn-primary book-details">
              <%= book.title %> <span class="caret"></span>
              <div id='buyer-info' hidden>
                <%= book.buyer.fullname %><br> <%= book.buyer.email %><br> <%= book.buyer.phone %> | Offer: $<%= book.price %>.00
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="col-md-6">
    <h3>My Bids</h3>
    <p><%= "You have #{@user.offers.where(accepted: "false").count} pending bid(s)" %></p>
    <% @user.offers.each do |offer| %>
      <div class="book-details btn btn-sm btn-primary">
        <%= offer.book.title %>
        <div hidden>
          You offered: $<%= offer.amount %><br>
          Seller: <%= offer.book.user.fullname %><br>
          <% if offer.book.sold == true %>
            <div class="sold">Sold</div>
          <% end %>
          <% if offer.book.sold == true %>
            <%= link_to "Delete", offer, method: :delete, class: "sold", data: {confirm: "Are you sure you want to remove this offer?"} %><br>
          <% else %>
          <%= link_to "Revoke", offer, method: :delete, class: "btn-sm btn-danger", data: {confirm: "Are you sure you want to remove this offer?"} %><br>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Back", :back %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#details').click(function(){
      $('#wishlist').toggle("medium");
    });

    $('.book-details').click(function(){
      $(this).children('div').toggle('slow');
    })

  });
</script>
