<% if @book.errors.any? %>
  <p> There were errors in your submission </p>
  <ul>
    <% @book.errors.each do |key, val| %>
      <li><%= key.capitalize %> <%= val %></li>
    <% end %>
  </ul>
<% end %>

<div class="center">
  <%= form_for [@user, @book] do |f| %>
    <div class="col-xs-12">
      <%= f.text_field :title, autofocus: true, placeholder: "Book Title", class: "book-info" %><br><br>
    </div>

    <div class="col-xs-12">
      <%= f.text_field :isbn13, autocomplete: "off", placeholder: "ISBN-13", class: "book-info" %><br><br>
    </div>

    <div><%= f.label :quality %></div>
    <div>
      <%= f.select :quality, Book.qualities, prompt: "Select book quality", class: "quality-input" %>
    </div><br>

    <div><%= f.label :price %></div>
    $ <%= f.text_field :price,autocomplete: "off", placeholder: "20", class: "amount-input" %>.00<br><br>

    <div><%= f.submit "Submit", class: "btn btn-primary"%></div><br><br>
  <% end %>

  <%= link_to 'Back', :back %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var $bookTitle = $('#book_title');
    var $bookISBN = $('#book_isbn13');

    $bookTitle.keyup(function() {
      if ($(this).val().length > 0) {
        $bookISBN.parent().hide('medium');
      } else {
        $bookISBN.parent().show('medium');
      }
    });

    $bookISBN.keyup(function() {
      if ($(this).val().length > 0) {
        $bookTitle.parent().hide('medium');
      } else {
        $bookTitle.parent().show('medium');
      }
    });

    //--------- Validation
    // $bookISBN.change(function() {
    //   if ($(this).val().length != 13) {
    //     alert('foo');
    //   };
    // });

    // $('form').submit(function() {
    //   if (($bookISBN).val().length != 13) {
    //     preventDefault();
    //   };
    // });

  });
</script>
