<% if @book.errors.any? %>
  <p> There were errors in your submission </p>
  <ul>
    <% @book.errors.each do |key, val| %>
      <li><%= val %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@user, @book] do |f| %>
  <div>
    <div><%= f.label "Book Title" %></div>
    <%= f.text_field :title, autofocus: true, placeholder: "ex: Book (9th Edition)", class: "book-info" %><br><br>
  </div>

  <div>
    <div><%= f.label :isbn13, "ISBN" %></div>
    <%= f.text_field :isbn13, placeholder: "9870123456789", class: "book-info" %><br><br>
  </div>

  <div><%= f.label "Course Title" %></div>
  <%= f.text_field :course_title, placeholder: "GCOM 101" %><br><br>

  <div><%= f.label :quality %></div>
  <%= f.select :quality, Book.qualities, prompt: "Select book quality" %><br><br>

  <div><%= f.label :price %></div>
  $ <%= f.text_field :price, placeholder: "20", class: "amount-input" %>.00<br><br>

  <div><%= f.submit "Submit", class: "btn btn-primary"%></div><br><br>
<% end %>

<%= link_to 'Back', :back %>

<script type="text/javascript">
  $(document).ready(function(){
    var $bookTitle = $('#book_title');
    var $bookISBN = $('#book_isbn13');

    $bookTitle.keyup(function() {
      if ($(this).val().length > 0) {
        $bookISBN.parent().hide('medium');
      } else {
        $bookISBN.parent().show('medium');
      }
    });

    $bookISBN.keyup(function() {
      if ($(this).val().length > 0) {
        $bookTitle.parent().hide('medium');
      } else {
        $bookTitle.parent().show('medium');
      }
    });
  });
</script>
