<% if @book.errors.any? %>
  <p> There were errors in your submission </p>
  <ul>
    <% @book.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@user, @book] do |f| %>
  <div><%= f.label "Book Title" %></div>
  <%= f.text_field :title, placeholder: "ex: Book (9th Edition)" %><br><br>

  <div><%= f.label "Course Title" %></div>
  <%= f.text_field :course_title, placeholder: "GCOM 101" %><br><br>

  <div><%= f.label :quality %></div>
  <%= f.select :quality, Book.qualities, prompt: "Select book quality" %><br><br>

  <div><%= f.label :price %></div>
  <%= f.text_field :price %><br><br>

  <div><%= f.submit "Submit", class: "btn btn-primary"%></div><br><br>
<% end %>


