<div class="center">
  <% if @book.errors.any? %>
    <p> There were errors in your submission </p>
    <ul>
      <% @book.errors.each do |key, val| %>
        <li><%= key.capitalize %> <%= val %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for [@user, @book] do |f| %>
    <div class="col-xs-12">
      <%= f.text_field :title, autofocus: true, placeholder: "Book Title", class: "book-info" %><br><br>
    </div>

    <div class="col-xs-12">
      <%= f.text_field :isbn13, autocomplete: "off", placeholder: "ISBN-13", class: "book-info" %><br><br>
    </div>

    <div class="col-xs-12">
      <%= f.select :quality, Book.qualities, prompt: "Select Book Quality", class: "quality-input" %>
    </div><br>

    <div class="row">
      <div class="book_price_input ">
        <div><%= f.label :price %></div>
        <div class="col-sm-2 col-sm-offset-4">
        <span class="price-hlpr">$</span> <%= f.text_field :price,autocomplete: "off", placeholder: "20", class: "amount-input" %><span class="price-hlpr">.00</span>
        </div>
      </div>

      <div class="col-sm-2 col-xs-12">
        Open for Bids <input type="checkbox" class="price_toggle">
      </div>
    </div>

    <div class="col-xs-12"><%= f.submit "Submit", class: "book-info submit-btn"%></div><br><br>
  <% end %>

  <%= link_to 'Back', :back %>
</div>

<%= content_for :extra_footer do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var $bookTitle = $('#book_title');
      var $bookISBN = $('#book_isbn13');
      var $priceToggle = $('.price_toggle');

      $bookTitle.keyup(function() {
        if ($(this).val().length > 0) {
          $bookISBN.parent().hide('medium');
        } else {
          $bookISBN.parent().show('medium');
        }
      });

      $bookISBN.keyup(function() {
        if ($(this).val().length > 0) {
          $bookTitle.parent().hide('medium');
        } else {
          $bookTitle.parent().show('medium');
        }
      });

      $priceToggle.click(function(){
        if ($('.book_price_input').is(':visible')) {
          $('.book_price_input').hide();
          $(this).parent().attr('class', 'col-xs-12');
        } else {
          $('.book_price_input').show();
          $(this).parent().attr('class', 'col-sm-2 col-xs-12');
        }
      });
    });
  </script>
<% end %>
