<h1>Books:</h1>

<%= form_tag(search_books_path, method: :get) do %>
<%= text_field_tag 'query', nil, class: 'span4 search-query' %>
<%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to "#{book.title} - $#{book.price}", book_path(book) %></li>
  <% end %>
</ul>

<%= link_to "Back", root_path %>
