<h1 class="page-title">Books:</h1>

<%= form_tag(search_books_path, method: :get) do %>
<%= text_field_tag 'query', nil, class: 'span4 search-query', placeholder: "Search by book, course, author, or isbn", class: "search" %>
<% end %>
<div class="row">
</div>
  <% @books.each do |book| %>
    <% if book.sold == false %>
        <div class="col-sm-3">
          <a href="<%= book_path(book) %>">
            <% if book.image_url != nil %>
              <img src="<%= book.image_url %>" class="book-image">
            <% end %><br>
          </a>
          <%= link_to "#{book.short_title(book.title)}", book_path(book) %>
          <% if current_user != book.user %>
            <% if book.price == 0 %>
              - Make Offer
            <% else %>
              - $<%= book.price %>
            <% end %>
          <% end %>
        </div>
    <% end %>
  <% end %>

