<div class= "col-md-6">
  <h1 class="book-title"><%= @book.title %></h1>
  <% if @book.author != "" && @book.author != nil %>
    <h5>by <%= @book.author %></h5>
  <% end %>
    <p><b>ISBN: </b><i><%= @book.isbn %></i><p>
    <p><b>ISBN 13: </b><i><%= @book.isbn13 %></i></p>

  <h3>Course</h3>
  <h5><%= @book.course_title %></h5>

  <h3>Quality</h3>
  <h5><%= @book.quality %></h5>

  <h3>Seller</h3>
  <% if @book.user_id != current_user.id %>
    <h5><%= @book.user.fullname %></h5>
  <% else %>
    <h5>You</h5>
  <% end %>
</div>

<% if @offer.errors.any? %>
  <p> There were errors in your submission </p>
  <ul>
    <% @offer.errors.each do |key, val| %>
      <li><%= val %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user != @book.user %>
    <div class="well col-md-3">
      <h3>Make an Offer</h3>
      <% if @book.price == 0 %>
        <%= form_for [@book, @offer] do |f| %>
          <div>
            <%= f.label :amount %><br>
            $ <%= f.text_field :amount, placeholder: "20", class: "amount-input" %>.00
          </div><br>
          <div><%= f.submit "Make Offer", class: "btn btn-success" %></div>
        <% end %>
      <% else %>
        <p>Price</p>
        <div>$<%= @book.price %>.00</div><br>
        <div>
          <% if @book.user != current_user && @book.sold == false %>
            <%= link_to "Buy!",{controller: :books, action: :buy, id: @book.id} , class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    </div>
<% end %>

<% if false %>
<!-- <div class="col-md-10">
<h3>Leave Comment</h3>
<%= form_for [@book, @comment] do |f| %>
  <div>
    <%= f.text_area :body, placeholder: "Leave a comment for #{@book.user.fullname}" %>
  </div><br>
  <%= f.submit "Leave Comment" %>
<% end %>
</div> -->
<% end %>

<div class="row col-md-10">
  <div class="col-md-1">
    <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
  <div class="col-md-1">
    <% if @book.sold == true %>
      <button class="btn btn-danger" disabled>sold</button>
    <% end %>
  </div>
</div>
