<h1 class="book-title"><%= @book.title %></h1>
<% if @book.author != nil %>
  <h5>by <%= @book.author %></h5>
<% end %>

<h3>Course</h3>
<h5><%= @book.course_title %></h5>

<h3>Price</h3>
<h5>$<%= @book.price %></h5>

<h3>Quality</h3>
<h5><%= @book.quality %></h5>

<h3>Seller</h3>
<% if @book.user_id != current_user.id %>
  <h5><%= @book.user.fullname %></h5>
<% else %>
  <h5>You</h5>
<% end %>

<div class="row">
  <div class="col-md-1">
    <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>

  <% if @book.user_id != current_user.id && @book.sold == false %>
    <div class="col-md-1">
      <%= link_to "Buy!",{controller: :books, action: :buy, id: @book.id} , class: "btn btn-success" %>
    </div>
  <% elsif @book.sold == true %>
    <button class="btn btn-danger" disabled>sold</button>
  <% end %>
</div>
