<h1 class="book-title"><%= @book.title %></h1>

<h3>Course</h3>
<h5><%= @book.course_title %></h5>

<h3>Price</h3>
<h5>$<%= @book.price %></h5>

<h3>Quality</h3>
<h5><%= @book.quality %></h5>

<h3>Seller</h3>
<% if @book.user_id != current_user.id %>
  <h5><%= @owner.fullname %></h5>
<% else %>
  <h5>You</h5>
<% end %>

<div class="row">
  <div class="col-md-1">
    <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>

  <% if @book.user_id != current_user.id %>
    <div class="col-md-1">
      <%= button_to "Buy!", @book, method: :put, class: "btn btn-success" %>
    </div>
  <% end %>
</div>


