<div class="col-md-12 center thin">
  <h1 class="page-title">Sign In</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-xs-12">
      <%= f.email_field :email, autofocus: true, class: "book-info", placeholder: "Email" %>
    </div>

    <div class="col-xs-12">
      <br />
      <%= f.password_field :password, autocomplete: "off",  class: "book-info", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me, class: "thin" %></div>
      <div><input type="checkbox" id="guestLogin"> <label>Guest</label></div>
    <% end -%>

    <div class="col-xs-12"><%= f.submit "Sign in", class: "book-info submit-btn" %></div>
  <% end %>
</div>

<%= render "devise/shared/links" %>

<%= content_for :extra_footer do %>
  <script type="text/javascript">
    $(function(){
      $guestBox = $('#guestLogin');
      $password = $('#user_password');
      $userEmail = $('#user_email');
      $guestBox.change(function(e){
        if ($guestBox.prop('checked')) {
          $userEmail.val('guest@dukes.jmu.edu');
          $password.val('guest1865');
        } else {
          $userEmail.val('');
          $password.val('');
        }
      });

    });
  </script>
<% end %>
